.main-wrapper {
  width: 90vw;
  margin: 0 auto;
  position: relative;
}

header {
  width: 100%;
  height: auto;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
header nav {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
  padding-top: 15vmax;
}
header nav a {
  text-decoration: none;
  padding: 1vmax  3vmax  1vmax  6vmax;
  font-size: 20px;
  line-height: 20px;
  border-top: 2px solid silver;
  border-bottom: 2px solid silver;
}

.logo {
  width: auto;
  height: auto;
}
.logo img {
  width: 40vw;
  height: 30vmax;
}

.toolbar {
  text-align: right;
  padding-bottom: 3vmax;
}
.toolbar input {
  color: #08d0eb;
  padding: 0.5vmax;
  width: 200px;
  font-size: 17px;
  border: 1px solid #08d0eb;
  outline: none;
}
.toolbar ::-webkit-input-placeholder {
  color: #08d0eb;
}
.toolbar ::-moz-placeholder {
  color: #08d0eb;
}
.toolbar :-moz-placeholder {
  color: #08d0eb;
}
.toolbar :-ms-input-placeholder {
  color: #08d0eb;
}

#list {
  width: 100%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

article {
  width: 500px;
  margin: 1vmax;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
}
article img {
  height: 500px;
  padding: 1vmax;
}

.post-description {
  padding-left: 1vmax;
  color: #008000;
  font-size: 16px;
}

.post-description:after {
  content: " ";
  border-bottom: 2px solid silver;
  width: 450px;
  display: inline-block;
}

h3 {
  color: #1697a6;
  font-size: 18px;
  height: 5px;
  text-transform: uppercase;
  padding-left: 1vmax;
}

p {
  padding-left: 1vmax;
}

article:nth-child(2) {
  height: 650px;
}
article:nth-child(2) img {
  height: 300px;
}

article:nth-child(4) {
  height: 650px;
}
article:nth-child(4) img {
  height: 500px;
}

article:nth-child(6) {
  height: 650px;
}
article:nth-child(6) img {
  height: 300px;
}

.about h1 {
  text-align: right;
  color: #08d0eb;
  text-transform: uppercase;
}
.about h1 p {
  line-height: 20px;
}

#contact h1 {
  text-align: right;
}
#contact h4 {
  text-align: right;
}

.forms {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  width: 100%;
}

#povidoml {
  color: silver;
  margin-bottom: 1vmax;
  padding: 1vmax;
}

#povidom_text {
  color: silver;
  margin-bottom: 1vmax;
  height: 80px;
}

.btn_fl {
  display: flex;
  justify-content: flex-end;
}

.btn {
  background-color: #08d0eb;
  font-size: 16px;
  width: 190px;
  height: 35px;
  border: none;
  margin-bottom: 2vmax;
}
.btn a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}

footer span {
  color: #617d8a;
}
